<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpsBinding>
              <binding name="zus_channel_zla_Binder"  messageEncoding="Mtom">
                <security mode="Transport">
                  <transport clientCredentialType="None" />
                </security>
              </binding>
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://193.105.143.152:8001/ws/zus.channel.gabinetoweV2:zla"
                binding="basicHttpsBinding" bindingConfiguration="zus_channel_zla_Binder"
                contract="ServiceReference1.zla_PortType" name="zus_channel_zla_Port" />
        </client>
    </system.serviceModel>
</configuration>